- var theme_customizer      = true;
- var counter               = true;
- var sidebar               = true;
- var slick                 = true;
- var header_slider         = true;
- var animate               = true;
- var scrollbar             = true;
- var script2               = true;

//- mixin
include ../../mixins/mixin

doctype html
html(lang='en')
  include ../../components/header-files
  body
    include ../../components/loader
    include ../../components/taptop
    // page-wrapper Start
    #pageWrapper.page-wrapper.compact-wrapper
      .page-header.row
        include ../../components/header
        +left-header
        +breadcrumb(['ECommerce','Pricing'],'Pricing')
        +right-header
      // Page Body Start
      .page-body-wrapper
        include ../../components/sidebar
        .page-body
          // Container-fluid starts
          .container-fluid
            .row
              .col-sm-12
                .card
                  .card-header 
                    h2 Become Member
                  .card-body.row.pricing-block
                    .col-lg-3.col-md-6
                      .pricingtable
                        .pricingtable-header
                          h3.title Standard
                        .price-value
                          span.currency $
                          span.amount 10
                          span.duration /mo
                        ul.pricing-content
                          li 50GB Disk Space
                          li 50 Email Accounts
                          li Maintenance
                          li 15 Subdomains
                        .pricingtable-signup
                          a.btn.btn-primary.btn-lg(href='sign-up.html') Sign Up
                    .col-lg-3.col-md-6
                      .pricingtable
                        .pricingtable-header
                          h3.title Premium
                        .price-value
                          span.currency $
                          span.amount 20
                          span.duration /mo
                        ul.pricing-content
                          li 10% on all product
                          li 50 Email Accounts
                          li Maintenance
                          li 15 Subdomains
                        .pricingtable-signup
                          a.btn.btn-primary.btn-lg(href='sign-up.html') Sign Up
                    .col-lg-3.col-md-6
                      .pricingtable
                        .pricingtable-header
                          h3.title Auther pack
                        .price-value
                          span.currency $
                          span.amount 50
                          span.duration /mo
                        ul.pricing-content
                          li Upload 50 product
                          li 50 Email Accounts
                          li Maintenance
                          li 15 Subdomains
                        .pricingtable-signup
                          a.btn.btn-primary.btn-lg(href='sign-up.html') Sign Up
                    .col-lg-3.col-md-6
                      .pricingtable
                        .pricingtable-header
                          h3.title Auther pack
                        .price-value
                          span.currency $
                          span.amount 50
                          span.duration /mo
                        ul.pricing-content
                          li Upload 50 product
                          li 50 Email Accounts
                          li Maintenance
                          li 15 Subdomains
                        .pricingtable-signup
                          a.btn.btn-primary.btn-lg(href='sign-up.html') Sign Up
                .card
                  .card-header 
                    h2 Simple Pricing Card
                  .card-body.pricing-content
                    .row.g-sm-4.g-3
                      .col-xl-3.col-sm-6.xl-50.box-col-6
                        .card.text-center.pricing-simple
                          .card-body
                            h3 Standard
                            h1 $15
                            h6.mb-0 our preferred plans
                          a.btn.btn-lg.btn-primary.btn-block(href='#!') Purchase
                      .col-xl-3.col-sm-6.xl-50.box-col-6
                        .card.text-center.pricing-simple
                          .card-body
                            h3 Business
                            h1 $25
                            h6.mb-0 ideal for expanding teams
                          a.btn.btn-lg.btn-primary.btn-block(href='#!') Purchase
                      .col-xl-3.col-sm-6.xl-50.box-col-6
                        .card.text-center.pricing-simple
                          .card-body
                            h3 Premium
                            h1 $35
                            h6.mb-0 the most popular of our plans
                          a.btn.btn-lg.btn-primary.btn-block(href='#!') Purchase
                      .col-xl-3.col-sm-6.xl-50.box-col-6
                        .card.text-center.pricing-simple
                          .card-body
                            h3 Extra
                            h1 $45
                            h6.mb-0 optimal for huge teams
                          a.btn.btn-lg.btn-primary.btn-block(href='#!') Purchase
        include ../../components/footer
    include ../../components/footer-files
